/*Imports Open Sans from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open Sans:300,400,700&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*Redefines text styles*/
h2 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: rgb(82, 86, 90);
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-wrap;
}

/*Lighter text color*/
.light {
    color: rgb(82, 86, 90);
}

/*Container to hold the website*/
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px;
}

/*Flex Box for rows and columns*/
.row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

/*Animation for all boxes*/
@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/*CSS for all boxes*/
.box {
    animation: 0.35s ease 0s 1 animate;
    background-color: rgb(225, 228, 232);
    border: 1px solid rgb(225, 228, 232);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/*Hover states for clickable boxes*/
.box.image:hover,
.box.skills:hover,
.box.run:hover,
.box.projectView:hover {
    background-color: rgb(245, 248, 252);
    border: 1px solid rgb(185, 188, 192);
}

/*Responsive sizing for large width boxes*/
.box.skills,
.box.run,
.box.projects,
.box.projectView {
    @media (min-width: 700px) {
        width: 630px;
    }

    @media (max-width: 700px) {
        max-width: 630px;
    }
}

/*Custom definitions for various boxes*/
.box.info {
    width: 400px;
    height: 360px;
}

.box.image {
    padding: 0;
    flex-grow: 1;
    width: 200px;
    height: 100px;
}

.box.skills {
    height: 100px;
}

.box.run {
    height: 100px;
}

.box.projects {
    height: 360px;
}

.box.projects.img {
    align-items: center;
}

.box.projectView {
    height: 360px;
}

/*Text to reveal on hover*/

.visit1 {
    visibility: hidden;
}

.box.projectView:hover .visit1 {
    visibility: visible;
    color: rgb(82, 86, 90);
}

.visit2 {
    visibility: hidden;
}

.box.skills:hover .visit2 {
    visibility: visible;
    color: rgb(102, 106, 110);
}

/*Hover state for clickable images*/

.projImg {
    width: calc(100% - 20px);
    transition: 0.25s;
}

.projImg:hover {
    filter: brightness(0.75);
    scale: 1.05;
}

/*Full-size image for modal*/

.bigImg {
    width: 100%;
}

/*Offset to reduce margins of Mantine dividers*/

.offset {
    margin-top: -10px;
    margin-bottom: -10px;
}