/*Imports Open Sans from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.main {
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes slide-down {
    0% {
      transform: translateY(-5vh);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.box {
    max-width: 350px;
    height: 400px;
    border-radius: 25px;
    background-color: rgb(29, 31, 34);
    border: none;
    color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Roboto Mono';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration-line: none;
    text-decoration: none;
    animation: 0.4s ease 0s 1 slide-down;

}

.box.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'Roboto Mono';
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    font-family: 'Roboto Mono';
}

p, li {
    font-size: 1.2em;
    font-family: 'Roboto Mono';
}

li {
    color: rgb(200, 201, 202);
}

a {
    font-size: 1.2em;
    font-family: 'Roboto Mono';
    color: white;
    margin: 0;
}

a.link:hover {
    color: rgb(178, 178, 255);
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    
}

.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-left: 5vw;
    margin-right: 5vw;
}

.box.about {
    cursor: auto;
}

.box.github:hover {
    transform: translate(0, -5px);
    background-color: rgb(52, 52, 52);
    box-shadow: 0px 0px 20px 0px rgb(52, 52, 52);
}

.box.linkedin:hover {
    transform: translate(0, -5px);
    background-color: rgb(10, 10, 130);
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 211);
}

.box.roam:hover {
    transform: translate(0, -5px);
    background-color: rgb(82, 0, 211);
    box-shadow: 0px 0px 20px 0px rgb(82, 0, 211);
}

.box.immerse:hover {
    transform: translate(0, -5px);
    background-color: rgb(183, 0, 191);
    box-shadow: 0px 0px 20px 0px rgb(183, 0, 191);
}

.box.greenjournal:hover {
    transform: translate(0, -5px);
    background-color: rgb(3, 131, 0);
    box-shadow: 0px 0px 20px 0px rgb(3, 131, 0);
}

.box.lifts:hover {
    transform: translate(0, -5px);
    background-color: rgb(82, 82, 82);
    box-shadow: 0px 0px 20px 0px rgb(82, 82, 82);
}

.box.valorant:hover {
    transform: translate(0, -5px);
    background-color: rgb(10, 48, 170);
    box-shadow: 0px 0px 20px 0px rgb(10, 48, 170);
}

.box.robolobos:hover {
    transform: translate(0, -5px);
    background-color: rgb(39, 144, 111);
    box-shadow: 0px 0px 20px 0px rgb(39, 144, 111);
}


.box.immerse:hover img,
.box.greenjournal:hover img,
.box.roam:hover img,
.box.lifts:hover img,
.box.valorant:hover img,
.box.robolobos:hover img {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: -1px;
}

.boxHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

img.cover {
    width: 98%;
    margin-left: -25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 20px;
    transition: 0.2s;
}

img.logo {
    width: 80%;
    margin-left: 0px;
    margin-bottom: 25px;
    border-radius: 0;
}

.article {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    text-align: center;
}

.imageRow {
    width: 100%;
    display: flex;
    gap: 20px;
}

.largeImgRow {
    width: 100px;
    flex-grow: 1;
    border: 1px solid white;
    border-radius: 25px;
}

.largeImg {
    width: 100%;
    flex-grow: 1;
    border: 1px solid white;
    border-radius: 25px;
}

.content {
    width: 100%;
    max-width: 1400px;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}

.subtext {
    color: rgb(200, 201, 202);
    margin-top: 0px;
}
.subtext2 {
    color: rgb(200, 201, 202);
    margin-top: 0.5em;
}

.logoContainer {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10vw;
    margin-right: 10vw;
}

.noMargin {
    margin-bottom: 0;
}

a.link.navHeader {
    text-decoration: none;
    text-decoration-line: none;
}

a.link.return {
    text-decoration-line: underline;
    text-align: center;
    margin-top: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}